@font-face {
    font-family: bluetea;
    src: url('../../fonts/bluetea/Bluetea.ttf');
}

@font-face {
    font-family: specialisation;
    src: url('../../fonts/specialisation/Specialisation.ttf');
}

@font-face {
    font-family: alinea;
    src: url('../../fonts/alinea/ALINEA+TYPEFACE.ttf');
}

@font-face {
    font-family: fronte_script;
    src: url('../../fonts/fronte_script/Fronte\ Script.otf');
}
