$style_carousel: (
    background_color_carousel: rgba(255,255,255, 0.7),
    width_img_carousel: 160px,
    width_img_carousel_desktop: 350px,
    padding_carousel: 2em 2em 2em 2em 
);

$style_background : (
    background_blur: rgba(0,0,0,0.5)
);