$white_color: rgb(255, 255, 255);

.titulo_principal {
    @include texto(
        $font: fronte_script,
        $size: 35px,
        $color: $white_color,
        $align: center
    );
}

.parrafo_principal {
    @include texto(
        $font: bluetea,
        $size: 20px,
        $color: $white_color,
        $align: center
    );
}