@import 
    "../libraries/bootstrap-5.2.1/scss/bootstrap", 
    "./partials/mixins",
    "./partials/header",
    "./partials/backgrounds",
    "./partials/extends",
    "./partials/fonts",
    "./partials/text",
    "./partials/footer",
    "./partials/buttons",
    "./partials/maps",
    "./partials/displays",
    "./partials/carousel",
    "./partials/images",
    "./partials/personajes",
    "./partials/soporte";

    * {
        margin: 0;
        padding: 0;
    }

    body, html {
        font-size: 10px;
        height: 100%;
    }

    