@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');


* {
    margin: 0;
    padding: 0;
}

.background_blur {
    background-color: rgba(0, 0, 0, 0.5);
}

.background_1_index {
    background-image: url(../img/background/background_1_index.jpg);
    background-position: 10% 5%;
    background-repeat: repeat;
}

.background_2_index {
    background-image: url(../img/background/background_2_index.jpeg);
    background-position: 87%;
    background-repeat: repeat;
}

.background_1_sobreNosotros {
    background-image: url(../img/background/background_1_sobreNosotros.jpg);
    background-position: 60% 80%;
    background-repeat: repeat;
}

.background_2_sobreNosotros {
    background-image: url(../img/background/background_2_sobreNosotros.jpg);
    background-position: 50%;
    background-repeat: repeat;
}

.background_1_personajes {
    background-image: url(../img/background/background_1_personajes.jpg);
    background-position: 60% 80%;
    background-repeat: repeat;
}

.background_2_personajes { 
    background-image: url(../img/background/background_2_personajes.jpg);
    background-position: 60% 80%;
    background-repeat: repeat;
}

.background_1_noticias {
    background-image: url(../img/background/background_1_noticias.jpg);
    background-position: 58% 80%;
    background-repeat: repeat;
}

.background_2_noticias {
    background-image: url(../img/background/background_2_noticias.jpg);
    background-position: 60% 80%;
    background-repeat: repeat;
}

.background_1_soporte {
    background-image: url(../img/background/background_1_soporte.png);
    background-position: 58% 80%;
    background-repeat: repeat;
}

.background_2_soporte {
    background-image: url(../img/background/background_2_soporte.jpg);
    background-position: 58% 80%;
    background-repeat: repeat;
}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    order: 1;
    width: 70px;
    margin: 0 auto 0 auto;
}

.btn_menu {
    position: absolute;
    order: -1;
    font-size: 25px;
    left: 17px;
    top: 17px;
    font-size: 37px;
    color: rgb(255, 255 , 255);
    text-decoration: none;
}

.menu {
    font-size: 30px;
}

.navbar ul {
    list-style-type: none;
    display: none;
}

.navbar ul li {
    margin: 0 20px 0 0;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 17px;
    transition: all 0.2s linear;
    font-family: 'Cinzel Decorative', cursive;
}

body#index ul.menu li:nth-child(2) a,
body#sobreNosotros ul.menu li:nth-child(3) a,
body#personajes ul.menu li:nth-child(4) a,
body#noticias ul.menu li:nth-child(5) a,
body#soporte ul.menu li:nth-child(6) a {
    border-bottom: 3px solid rgb(255, 215, 0);
    border-radius: 6px;
    text-shadow: #CCC 1px 0 10px;
    color: rgb(255, 215, 0);
} 

.footer {
    background-color: rgba(255, 255, 255, 0.5);
}

.footer_texto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 0 0;
}

.footer_texto img {
    width: 50px;
    margin: 0 10px 0 0;
}

.footer_texto p {
    font-size: 10px;
    font-family: 'Berkshire Swash', cursive;
}

.footer_redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_redes a {
    padding: 10px;
}

.footer_derechos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 10px 0;
}

.footer_derechos p {
    font-size: 12px;
    font-family: 'Berkshire Swash', cursive;
}

#youtube_icon {
    width: 20px;
    /* height: 37px; */
}

#twitter_icon {
    width: 25px;
    /* height: 40px; */
}

#facebook_icon {
    width: 20px;
    /* height: 40px; */
}

#instagram_icon {
    width: 21px;
    /* height: 41px; */
}

#reddit_icon {
    width: 21px;
    /* height: 41px; */
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_index {
    width: 100%;
}

.img_sobreNosotros {
    width: 100%;
}

.img_personajes {
    width: 100%;
}

.img_noticias {
    width: 90%;
    margin: 10px 0 10px 0;
}

.img_soporte {
    width: 100%;
}

.texto_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto_index h1 {
    font-size: 27px;
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(255, 255 , 255);
    margin: 10px 0 20px 0;
    text-align: center;
}

.texto_index p {
    font-size: 16px;
    font-family: 'Berkshire Swash', cursive;
    color: rgb(255, 255 , 255);
    text-align: center;
    padding: 0 15px 0 15px;
    margin: 0 0 10px 0;
}

.link_info {
    background: #fff; 
    color: #1A668C; 
    border: 2px solid #1A668C;
    padding: 5px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-family: 'Berkshire Swash', cursive;
    width: 42%;
    font-size: 15px;
}

.link_info:hover {
    color: #fff;
 } 

.link_info::after {
    content: "";
    background: #1A668C; 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.link_info:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

.link_info i {
    font-size: 17px;
}

.imagen_1_index {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen_1_index img {
    border-radius: 30px;
    width: 70%;
    margin: 15px 0 0 0;
}

.patrocinadores {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 0 0 0;
}

.patrocinadores i {
    font-size: 20px;
}

.patrocinadores img {
    margin: 0 auto 0 auto;
}

#patrocinador1 {
    /* width: 70px; */
    width: 30%;
    /* height: 175px; */
}

#patrocinador2 {
    /* width: 80px; */
    width: 30%;
    /* height: 140px; */

}

#patrocinador3 {
    /* width: 50px; */
    width: 20%;
    /* height: 98px; */
}

#patrocinador4 {
    width: 190px;
    height: 80px;
    display: none;
}

#patrocinador5 {
    width: 100px;
    height: 98px;
    display: none;
}

.titulo_equipos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo_principal {
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(255, 255 , 255);
    margin: 10px 0 0 0;
}

.divisor {
    margin: 5px 0 0 0;
    width: 90%;
    border: 1px solid rgb(255, 255 , 255);
    border-radius: 20px;
}

.equipos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0 0 0;
}

.equipos h3 {
    text-align: center;
    font-size: 16px;
    font-family: 'Cinzel Decorative', cursive;
    margin: 10px 0 20px 0;
    color: rgb(255, 255 , 255);
}

.equipos img {
    width: 120px;
}

.historia_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.historia_desc p {
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255);
    margin: 10px 10px 20px 10px;
    font-family: 'Berkshire Swash', cursive;
}

.historia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.valores h2 {
    font-size: 13px;
    color: rgb(255, 255 , 255);
    font-family: 'Cinzel Decorative', cursive;
    margin: 0 0 15px 0;
    text-align: center;
}

.valores img {
    margin: 15px 0 5px 0;
}

#valor_1 {
    width: 40%;
    border-radius: 100%;
}

#valor_2 {
    width: 40%;
    border-radius: 100%;
}

#valor_3 {
    width: 40%;
    border-radius: 100%;
}

#valor_4 {
    width: 40%;
    border-radius: 100%;
}

#valor_5 {
    width: 40%;
    border-radius: 100%;
}

.principal_personajes {
    display: flex;
    justify-content: space-evenly;
}

.titulo_personajes {
    display: flex;
    width : 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.parrafo_personajes {
    text-align: center;
    font-size: 15px;
    font-family: 'Berkshire Swash', cursive;
    color: rgb(255, 255 , 255); 
    margin: 5px 0 10px 0;
 }

.personajes_detalle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link_personaje {
    background: #fff;
    color: #1A668C;
    border: 2px solid #1A668C; 
    padding: 7px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    margin-top: 10px;
    justify-content: center;
    font-family: 'Berkshire Swash', cursive;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

.link_personaje:hover {
    color: #fff;/* color de fuente hover */
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.link_personaje::after {
    content: "";
    background: #1A668C; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.link_personaje:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

.icon_personaje {
    font-size: 18px;
    margin-left: 3px;
}

.personaje_blur_back {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px 10px 15px;
    border-radius: 20px 0 20px 0;
    transition: all 0.2s linear;
}

.personaje_blur_back:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.personaje_1 {
    background-image: url(../img/personajes/Evelynn.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 70%;
    border-radius: 20px 0 20px 0;
    margin: 0 0 20px 0;
}

.personaje_1 span {
    color: rgb(255, 255 , 255);
    font-size: 12px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_1 h2 {
    color: rgb(255, 255 , 255);
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_1 p {
    color: rgb(255, 255 , 255);
    font-size: 13px;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_2 {
    background-image: url(../img/personajes/Blitzcrank.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 70%;
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
}

.personaje_2 span {
    color: rgb(255, 255 , 255);
    font-size: 12px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_2 h2 {
    color: rgb(255, 255 , 255);
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_2 p {
    color: rgb(255, 255 , 255);
    font-size: 13px;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_3 {
    background-image: url(../img/personajes/Heimerdinger.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 70%;
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
}

.personaje_3 span {
    color: rgb(255, 255 , 255);
    font-size: 12px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_3 h2 {
    color: rgb(255, 255 , 255);
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_3 p {
    color: rgb(255, 255 , 255);
    font-size: 13px;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: rgb(255, 255 , 255) 1px 0 10px;
}

.personaje_4 {
    background-image: url(../img/personajes/Twitch.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 70%;
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
}

.personaje_4 span {
    color: rgb(255, 255 , 255);
    font-size: 12px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_4 h2 {
    color: rgb(255, 255 , 255);
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_4 p {
    color: rgb(255, 255 , 255);
    font-size: 13px;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: rgb(255, 255 , 255) 1px 0 10px;
}

.personaje_5 {
    background-image: url(../img/personajes/Neeko.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 70%;
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
}

.personaje_5 span {
    color: rgb(255, 255 , 255);
    font-size: 12px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_5 h2 {
    color: rgb(255, 255 , 255);
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_5 p {
    color: rgb(255, 255 , 255);
    font-size: 13px;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: rgb(255, 255 , 255) 1px 0 10px;
}

.personaje_6 {
    background-image: url(../img/personajes/TahmKench.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 70%;
    border-radius: 20px 0 20px 0;
}

.personaje_6 span {
    color: rgb(255, 255 , 255);
    font-size: 12px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_6 h2 {
    color: rgb(255, 255 , 255);
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.personaje_6 p {
    color: rgb(255, 255 , 255);
    font-size: 13px;
    font-family: 'Berkshire Swash', cursive;
    text-shadow: rgb(255, 255 , 255) 1px 0 10px;
}

.mas_campeones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.link_campeones {
    background: #fff; /* color de fondo */
    color: #1A668C; /* color de fuente */
    border: 2px solid #1A668C; /* tamaño y color de borde */
    padding: 8px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-family: 'Berkshire Swash', cursive;
    width: 50%;
    font-size: 17px;
}

.link_campeones:hover {
    color: #fff;/* color de fuente hover */
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.link_campeones::after {
    content: "";
    background: #1A668C; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.link_campeones:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

.titulo_noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticia_tiempo {
    display: flex;
}

.fondo_noticias {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 15px 15px 15px 15px;
}

.noticias_general {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tiempo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgb(255, 255 , 255);
    font-family: 'Berkshire Swash', cursive;
}

.tiempo i {
    font-size: 15px;
    vertical-align: middle;
}

.link_noticia {
    text-decoration: none;
    color: rgb(255, 255 , 255);
    margin: 5px 0 0 0;
    font-size: 16px;
    font-family: 'Cinzel Decorative', cursive;
}

.noticia_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
}

.noticia_1_info h4 {
    text-align: center;
    margin: 5px 0 0 0;
    font-family: 'Cinzel Decorative', cursive;
}

.noticia_1_info h4 a {
    text-decoration: none;
    color: rgb(255, 255 , 255);
    transition: all 0.2s ease-in;
}

.noticia_1_info h4 a:hover {
    text-shadow: 0 0 10px rgb(255, 255 , 255);
}

.noticia_1_info p {
    text-align: center;
    color: rgb(255, 255 , 255);
    margin: 0 0 5px 0;
    font-family: 'Berkshire Swash', cursive;
}

.noticia_1 img {
    width: 60%;
    border-radius: 100%;
    margin: 10px 0 0 0;
}

.noticia_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
}

.noticia_2_info h4 {
    text-align: center;
    margin: 5px 0 0 0;
    font-family: 'Cinzel Decorative', cursive;
}

.noticia_2_info h4 a {
    text-decoration: none;
    color: rgb(255, 255 , 255);
}

.noticia_2_info h4 a:hover {
    text-shadow: 0 0 10px rgb(255, 255 , 255);
}

.noticia_2_info p {
    text-align: center;
    color: rgb(255, 255 , 255);
    margin: 0 0 5px 0;
    font-family: 'Berkshire Swash', cursive;
}

.noticia_2 img {
    width: 60%;
    border-radius: 100%;
    margin: 10px 0 0 0;
}

.noticia_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
}

.noticia_3_info h4 {
    text-align: center;
    margin: 5px 0 0 0;
    font-family: 'Cinzel Decorative', cursive;
}

.noticia_3_info h4 a {
    text-decoration: none;
    color: rgb(255, 255 , 255);
}

.noticia_3_info h4 a:hover {
    text-shadow: 0 0 10px rgb(255, 255 , 255);
}

.noticia_3_info p {
    text-align: center;
    color: rgb(255, 255 , 255);
    margin: 0 0 5px 0;
    font-family: 'Berkshire Swash', cursive;
}

.noticia_3 img {
    width: 60%;
    border-radius: 100%;
    margin: 10px 0 0 0;
}

.noticia_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
}

.noticia_4_info h4 {
    text-align: center;
    margin: 5px 0 0 0;
    font-family: 'Cinzel Decorative', cursive;
}

.noticia_4_info h4 a {
    text-decoration: none;
    color: rgb(255, 255 , 255);
}

.noticia_4_info h4 a:hover {
    text-shadow: 0 0 10px rgb(255, 255 , 255);
}

.noticia_4_info p {
    text-align: center;
    color: rgb(255, 255 , 255);
    margin: 0 0 5px 0;
    font-family: 'Berkshire Swash', cursive;
}

.noticia_4 img {
    width: 60%;
    border-radius: 100%;
    margin: 10px 0 0 0;
}

.mas_noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.link_noticias {
    background: #fff; /* color de fondo */
    color: #1A668C; /* color de fuente */
    border: 2px solid #1A668C; /* tamaño y color de borde */
    padding: 5px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-size: 17px;
    width: 100%;
}

.link_noticias:hover {
    color: #fff;/* color de fuente hover */
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.link_noticias::after {
    content: "";
    background: #1A668C; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.link_noticias:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

.mas_noticias a i {
    font-size: 19px;
    margin-left: 3px;
}

.titulo_soporte {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.soporte_principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chat {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat i {
    font-size: 40px;
    margin: 0 10px 0 20px;
    color: rgb(255, 255 , 255);
}

.info_chat h2 {
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(255, 255 , 255);
}

.info_chat p {
    font-family: 'Berkshire Swash', cursive;
    font-size: 15px;
    text-align: center;
    margin: 0 20px 0 0;
    color: rgb(255, 255 , 255);
}

.info_chat span {
    font-family: 'Berkshire Swash', cursive;
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255 , 255);
}


.correo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.correo i {
    font-size: 40px;
    margin: 0 10px 0 20px;
    color: rgb(255, 255 , 255);
}

.info_correo h2 {
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(255, 255 , 255);
}

.info_correo p {
    font-family: 'Berkshire Swash', cursive;
    font-size: 15px;
    text-align: center;
    margin: 0 20px 0 0;
    color: rgb(255, 255 , 255);
}

.info_correo span {
    font-family: 'Berkshire Swash', cursive;
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255 , 255);
}

.link_contacto i {
    color: #1A668C;
    font-size: 20px;
    vertical-align: middle;
}

.link_contacto {
    background: #fff; /* color de fondo */
    color: #1A668C; /* color de fuente */
    border: 2px solid #1A668C; /* tamaño y color de borde */
    padding: 5px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    margin-top: 10px;
    justify-content: center;
    font-family: 'Berkshire Swash', cursive;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.link_contacto:hover {
    color: #fff;/* color de fuente hover */
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

.link_contacto::after {
    content: "";
    background: #1A668C; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.link_contacto:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

#formulario {
    margin-top: 20px;
}

#formulario_datos h2 {  
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
}

#nombre_input {
    display: flex;
    flex-direction: column;
}

#nombre_input label {   
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 5px;
}

#nombre_input input {
    border: 1px solid rgb(255, 255 , 255);
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Berkshire Swash', cursive;
    transition: all 0.2s linear;
}

#nombre_input input:focus {
    box-shadow: 5px 5px 20px rgb(0, 0 , 0);
}

#email_input {
    display: flex;
    flex-direction: column;
}

#email_input label {
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 5px;
}

#email_input input {
    border: 1px solid rgb(255, 255 , 255);
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Berkshire Swash', cursive;
    transition: all 0.2s linear;
}

#email_input input:focus {
    box-shadow: 5px 5px 20px rgb(0, 0 , 0);
}

#pais_input {
    display: flex;
    flex-direction: column;
}

#pais_input label {
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 5px;
}

#pais_input input {
    border: 1px solid rgb(255, 255 , 255);
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Berkshire Swash', cursive;
    transition: all 0.2s linear;
}

#pais_input input:focus {
    box-shadow: 5px 5px 20px rgb(0, 0 , 0);
}

#comentario_input {
    display: flex;
    flex-direction: column;
}

#comentario_input label {
    font-size: 20px;
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 5px;
}

#comentario_input textarea {
    border: 1px solid rgb(255, 255 , 255);
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Berkshire Swash', cursive;
    transition: all 0.2s linear;
}

#comentario_input textarea:focus {
    box-shadow: 5px 5px 20px rgb(0, 0 , 0);
}

#boton_input {
    display: flex;
    align-items: center;
    justify-content: center;
}

#boton_input button[type="submit"] {
    background: #fff; /* color de fondo */
    color: #1A668C; /* color de fuente */
    border: 2px solid #1A668C; /* tamaño y color de borde */
    padding: 10px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    margin-top: 10px;
    justify-content: center;
    font-family: 'Berkshire Swash', cursive;
    width: 60%;
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
}

#boton_input button[type="submit"]:hover {
    color: #fff;/* color de fuente hover */
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

#boton_input button[type="submit"]::after {
    content: "";
    background: #1A668C; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

#boton_input button[type="submit"]:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

#boton_input button[type="reset"] {
    background: #fff; /* color de fondo */
    color: #1A668C; /* color de fuente */
    border: 2px solid #1A668C; /* tamaño y color de borde */
    padding: 10px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    margin-top: 10px;
    justify-content: center;
    font-family: 'Berkshire Swash', cursive;
    width: 40%;
    font-size: 18px;
    cursor: pointer;
}

#boton_input button[type="reset"]:hover {
    color: #fff;/* color de fuente hover */
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

#boton_input button[type="reset"]::after {
    content: "";
    background: #1A668C; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

#boton_input button[type="reset"]:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

/* Css Desktop */
@media screen and (min-width: 1024px) {

    .btn_menu_desplegable {
        display: none;
    }

    .btn_cerrar_menu {
        display: none;
    }
    
    .encabezado {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo navbar";
        justify-items: center;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    .logo {
        grid-area: logo;
        width: 70px;
        align-self: center;
        justify-self: center;
    }

    .btn_menu {
        display: none;
    }
    
    .navbar {
        grid-area: navbar;
    }
    
    .navbar ul {
        display: flex;
        list-style-type: none;
    }
    
    .navbar ul li a:hover {
        transition: all 0.2s linear;
        text-shadow: #CCC 1px 0 10px;
        color: rgb(255, 215, 0);
    }
    
    
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 90px;
        grid-template-areas: "footer_texto footer_redes" 
                            "footer_derechos footer_derechos";
        background-color: rgba(255, 255, 255, 0.61);
    }
    
    .footer_texto {
        grid-area: footer_texto;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 30px 0 0 45px;
    }
    
    .footer_texto img {
        margin: 0 10px 0 0;
    }
    
    .footer_texto p {
        font-size: 15px;
        font-family: 'Berkshire Swash', cursive;
    }
    
    .footer_redes {
        grid-area: footer_redes;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 30px 100px 0 0;
    }
    
    .footer_derechos {
        grid-area: footer_derechos;
        display: flex;
        align-items: flex-end;
        justify-content: start;
        padding: 0 0 15px 15px;
    }
    
    .footer_derechos p {
        font-size: 20px;
        font-family: 'Berkshire Swash', cursive;
    }
    
    #youtube_icon {
        width: 50px;
        height: 37px;
    }
    
    #twitter_icon {
        width: 45px;
        height: 40px;
    }
    
    #facebook_icon {
        width: 40px;
        height: 40px;
    }
    
    #instagram_icon {
        width: 41px;
        height: 41px;
    }
    
    #reddit_icon {
        width: 41px;
        height: 41px;
    }
    
    .imagen_principal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "imagen_principal";
    }

    .img {
        grid-area: imagen_principal;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img_index {
        margin: 50px 0 0 0;
        width: 80%;
    }

    .img_sobreNosotros {
        margin: -100px 0 0 0;
        width: 100%;
    }

    .img_personajes {
        margin: 17px 0 0 0;
        width: 100%;
    }

    .img_noticias {
        width: 75%;
    }
    
    .seccion_1_index {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "texto_1_index img_1_index";
    }
    
    .texto_index {
        grid-area: texto_1_index;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .texto_index h1 {
        font-size: 40px;
        font-family: 'Cinzel Decorative', cursive;
        color: rgb(255, 255 , 255);
        margin: 0 0 20px 0;
    }
    
    .texto_index p {
        font-size: 25px;
        font-family: 'Berkshire Swash', cursive;
        color: rgb(255, 255 , 255);
        text-align: center;
        padding: 0 50px 0 60px;
        margin: 0 0 20px 0;
    }
    
    .link_info {
        background: #fff; 
        color: #1A668C; 
        border: 2px solid #1A668C;
        padding: 10px;
        border-radius: 3px; 
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
        text-decoration: none;
        justify-content: center;
        font-family: 'Berkshire Swash', cursive;
        width: 30%;
        font-size: 18px;
    }
    
    .link_info i {
        font-size: 21px;
    }
    
    .imagen_1_index {
        grid-area: img_1_index;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .imagen_1_index img {
        border-radius: 30px;
        width: 300px;
    }
    
    .patrocinadores_index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "patrocinadores";
    }
    
    .patrocinadores {
        grid-area: patrocinadores;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 30px 0 0 0;
    }
    
    .patrocinadores i {
        font-size: 40px;
    }
    
    .patrocinadores img {
        margin: 0 30px 0 30px;
    }
    
    #patrocinadores {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        scroll-snap-type: x mandatory;
        background-color: rgba(255, 255, 255, 0.61);
        margin: 20px 0 0 0;
    }
    
    
    #patrocinador1 {
        width: 170px;
        height: 175px;
    }
    
    #patrocinador2 {
        width: 190px;
        height: 140px;
    
    }
    
    #patrocinador3 {
        width: 100px;
        height: 98px;
    }
    
    #patrocinador4 {
        width: 190px;
        height: 80px;
        display: initial;
    }
    
    #patrocinador5 {
        width: 100px;
        height: 98px;
        display: initial;
    }
    
    .icon {
        font-size: 30px;
    }
    
    .equipos_index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas: "titulo_equipos" "equipos";
    }
    
    .titulo_equipos {
        grid-area: titulo_equipos;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .titulo_principal {
        font-size: 30px;
        font-family: 'Cinzel Decorative', cursive;
        color: rgb(255, 255 , 255);
    }
    
    .divisor {
        margin: 5px 0 0 0;
        width: 90%;
        border: 2px solid rgb(255, 255 , 255);
        border-radius: 20px;
    }
    
    .equipos {
        grid-area: equipos;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .equipos h3 {
        text-align: center;
        font-family: 'Cinzel Decorative', cursive;
        margin: 10px 0 20px 0;
        color: rgb(255, 255 , 255);
    }

    .equipos img {
        width: 230px;
    }

    .principal_sobreNosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "historia_desc";
    }

    .historia_desc {
        grid-area: historia_desc;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .historia_desc p {
        font-size: 20px;
        text-align: center;
        color: rgba(255, 255, 255);
        padding: 10px 150px 10px 150px;
        font-family: 'Berkshire Swash', cursive;
    }
    
    .descripcion_valores {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr;
        grid-template-areas: "historia" "valores_seccion" ;
    }

    .historia {
        grid-area: historia;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .valores_seccion {
        grid-area: valores_seccion;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .valores_seccion h2 {
        font-size: 20px;
        color: rgb(255, 255 , 255);
        text-align: center;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .valores_seccion img {
        margin: 30px 0 30px 0;
    }
    
    #valor_1 {
        width: 300px;
        border-radius: 100%;
    }
    
    #valor_2 {
        width: 300px;
        border-radius: 100%;
    }
    
    #valor_3 {
        width: 300px;
        border-radius: 100%;
    }
    
    #valor_4 {
        width: 300px;
        border-radius: 100%;
    }
    
    #valor_5 {
        width: 300px;
        border-radius: 100%;
    }
    
    .principal_personajes {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "texto_personajes";
    }

    .titulo_personajes {
        grid-area: texto_personajes;
    }

    .personajes_main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "personajes_detalle";
    }

    .parrafo_personajes {
        text-align: center;
        font-size: 20px;
        font-family: 'Berkshire Swash', cursive;
        color: rgb(255, 255 , 255); 
        margin: 5px 0 10px 0;
     }

    .personajes_detalle {
        grid-area: personaje_detalle;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .personaje_blur_back {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 10px 15px 10px 15px;
        border-radius: 20px 0 20px 0;
        height: 93%;
        transition: all 0.2s linear;
    }

    .personaje_1 {
        background-image: url(../img/personajes/Evelynn.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: 50%;
        width: 30%;
        border-radius: 20px 0 20px 0;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .personaje_1 span {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_1 h2 {
        color: rgb(255, 255 , 255);
        font-size: 30px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_1 p {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Berkshire Swash', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_2 {
        background-image: url(../img/personajes/Blitzcrank.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: 50%;
        width: 30%;
        border-radius: 20px 0 20px 0;
        margin-bottom: 20px;
    }
    
    .personaje_2 span {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_2 h2 {
        color: rgb(255, 255 , 255);
        font-size: 30px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_2 p {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Berkshire Swash', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_3 {
        background-image: url(../img/personajes/Heimerdinger.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: 50%;
        width: 30%;
        border-radius: 20px 0 20px 0;
        margin-bottom: 20px;
    }
    
    .personaje_3 span {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }

    .personaje_3 h2 {
        color: rgb(255, 255 , 255);
        font-size: 30px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_3 p {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Berkshire Swash', cursive;
        text-shadow: rgb(255, 255 , 255) 1px 0 10px;
    }

    .personaje_4 {
        background-image: url(../img/personajes/Twitch.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: 50%;
        width: 30%;
        border-radius: 20px 0 20px 0;
    }
    
    .personaje_4 span {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_4 h2 {
        color: rgb(255, 255 , 255);
        font-size: 30px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_4 p {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Berkshire Swash', cursive;
        text-shadow: rgb(255, 255 , 255) 1px 0 10px;
    }
    
    .personaje_5 {
        background-image: url(../img/personajes/Neeko.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: 50%;
        width: 30%;
        border-radius: 20px 0 20px 0;
    }
    
    .personaje_5 span {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_5 h2 {
        color: rgb(255, 255 , 255);
        font-size: 30px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_5 p {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Berkshire Swash', cursive;
        text-shadow: rgb(255, 255 , 255) 1px 0 10px;
    }

    .personaje_6 {
        background-image: url(../img/personajes/TahmKench.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
        background-size: cover;
        background-position: 50%;
        width: 30%;
        border-radius: 20px 0 20px 0;
        margin: -20px 0 0 0;
    }
    
    .personaje_6 span {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_6 h2 {
        color: rgb(255, 255 , 255);
        font-size: 30px;
        font-family: 'Cinzel Decorative', cursive;
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .personaje_6 p {
        color: rgb(255, 255 , 255);
        font-size: 18px;
        font-family: 'Berkshire Swash', cursive;
        text-shadow: rgb(255, 255 , 255) 1px 0 10px;
    }

    .mas_campeones {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 25px 0;
    }
    
    .link_campeones {
        background: #fff; /* color de fondo */
        color: #1A668C; /* color de fuente */
        border: 2px solid #1A668C; /* tamaño y color de borde */
        padding: 10px;
        border-radius: 3px; /* redondear bordes */
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
        text-decoration: none;
        margin-top: 10px;
        justify-content: center;
        font-family: 'Berkshire Swash', cursive;
        width: 30%;
        font-size: 18px;
    }
    
    .link_campeones:hover {
        color: #fff;/* color de fuente hover */
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .link_campeones::after {
        content: "";
        background: #1A668C; /* color de fondo hover */
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.3s ease;
    }
    
    .link_campeones:hover::after {
        transition: all 0.3s ease-out;
        transform: skewX(-45deg) scale(1, 1);
    }
    
    .fondo_noticias {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        margin: 20px 100px 20px 100px;
    }

    .noticias_principal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "titulo_noticias";
    }
    
    .titulo_noticias {
        grid-area: titulo_noticias;
    }
    
    .noticias_general {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "noticias";
    }

    .noticias {
        grid-area: "noticias";
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tiempo {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .tiempo span i {
        font-size: 20px;
    }
  
    .noticia_1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 0 0 0;
    }

    .noticia_1_info {
        margin: 0 100px 0 50px;
    }

    .noticia_1_info h4 {
        font-size: 25px;
        text-align: left;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .noticia_1_info p {
        text-align: left;
        color: rgb(255, 255 , 255);
        margin: 0 100px 0 10px;
        font-family: 'Berkshire Swash', cursive;
        font-size: 20px;
    }
    
    .noticia_1 img {
        width: 20%;
        border-radius: 100%;
        margin: 0 0 0 100px;
    }
    
    .noticia_2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 0 0 0;
    }
    
    .noticia_2_info {
        margin: 0 100px 0 50px;
    }

    .noticia_2_info h4 {
        font-size: 25px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .noticia_2_info p {
        text-align: center;
        color: rgb(255, 255 , 255);
        margin: 0 100px 0 10px;
        font-family: 'Berkshire Swash', cursive;
        font-size: 20px;
    }
    
    .noticia_2 img {
        width: 20%;
        border-radius: 100%;
        margin: 0 0 0 100px;
    }
    
    .noticia_3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 0 0 0;
    }

    .noticia_3_info {
        margin: 0 100px 0 50px;
    }
    
    .noticia_3_info h4 {
        font-size: 25px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .noticia_3_info p {
        text-align: center;
        color: rgb(255, 255 , 255);
        margin: 0 100px 0 10px;
        font-family: 'Berkshire Swash', cursive;
        font-size: 20px;
    }
    
    .noticia_3 img {
        width: 20%;
        border-radius: 100%;
        margin: 0 0 0 100px;
    }
    
    .noticia_4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 20px 0 0 0;
    }
    
    .noticia_4_info {
        margin: 0 100px 0 50px;
    }

    .noticia_4_info h4 {
        font-size: 25px;
        font-family: 'Cinzel Decorative', cursive;
    }
    
    .noticia_4_info p {
        text-align: center;
        color: rgb(255, 255 , 255);
        margin: 0 100px 0 10px;
        font-family: 'Berkshire Swash', cursive;
        font-size: 20px;
    }
    
    .noticia_4 img {
        width: 20%;
        border-radius: 100%;
        margin: 0 0 0 100px;
    }
    
    .mas_noticias {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0 20px 0;
    }
    
    .link_noticias {
        background: #fff; /* color de fondo */
        color: #1A668C; /* color de fuente */
        border: 2px solid #1A668C; /* tamaño y color de borde */
        padding: 10px;
        border-radius: 3px; /* redondear bordes */
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
        text-decoration: none;
        margin-top: 10px;
        justify-content: center;
        font-family: 'Berkshire Swash', cursive;
        width: 30%;
        font-size: 18px;
    }
    
    .link_noticias:hover {
        color: #fff;/* color de fuente hover */
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    .link_noticias::after {
        content: "";
        background: #1A668C; /* color de fondo hover */
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.3s ease;
    }
    
    .link_noticias:hover::after {
        transition: all 0.3s ease-out;
        transform: skewX(-45deg) scale(1, 1);
    }
    
    .mas_noticias a i {
        font-size: 19px;
        margin-left: 3px;
    }
    
    #principal_soporte {
        display: flex;
        justify-content: space-evenly;
    }
    
    #titulo_soporte {
        display: flex;
        width : 100%;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    #titulo_soporte h1 {
        font-size: 30px;
        font-family: 'Cinzel Decorative', cursive;
        margin-top: 20px;
    }
    
    #titulo_soporte hr {
        border: 1px solid rgb(0, 0 , 0);
        width: 90%;
        border-radius: 20px;
    }
    
    #soporte_principal {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #contacto {
        width: 42%;
    }
    
    #chat {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #chat i {
        font-size: 50px;
        margin-right: 20px;
    }
    
    #info_chat {
        display: flex;
        flex-direction: column;
    }
    
    #info_chat h2 {
        font-family: 'Cinzel Decorative', cursive;
        margin-top: 20px;
    }
    
    #info_chat p {
        font-family: 'Berkshire Swash', cursive;
    }
    
    #info_chat a {
        background: #fff; /* color de fondo */
        color: #1A668C; /* color de fuente */
        border: 2px solid #1A668C; /* tamaño y color de borde */
        padding: 10px;
        border-radius: 3px; /* redondear bordes */
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
        text-decoration: none;
        margin-top: 10px;
        justify-content: center;
        font-family: 'Berkshire Swash', cursive;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #info_chat a:hover {
        color: #fff;/* color de fuente hover */
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    #info_chat a::after {
        content: "";
        background: #1A668C; /* color de fondo hover */
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.3s ease;
    }
    
    #info_chat a:hover::after {
        transition: all 0.3s ease-out;
        transform: skewX(-45deg) scale(1, 1);
    }
    
    #correo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #correo i {
        font-size: 50px;
        margin-right: 20px;
    }
    
    #info_correo {
        display: flex;
        flex-direction: column;
    }
    
    #info_correo h2 {
        font-family: 'Cinzel Decorative', cursive;
        margin-top: 20px;
    }
    
    #info_correo p {
        font-family: 'Berkshire Swash', cursive;
    }
    
    #info_correo a {
        background: #fff; /* color de fondo */
        color: #1A668C; /* color de fuente */
        border: 2px solid #1A668C; /* tamaño y color de borde */
        padding: 10px;
        border-radius: 3px; /* redondear bordes */
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
        text-decoration: none;
        margin-top: 10px;
        justify-content: center;
        font-family: 'Berkshire Swash', cursive;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #info_correo a:hover {
        color: #fff;/* color de fuente hover */
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    #info_correo a::after {
        content: "";
        background: #1A668C; /* color de fondo hover */
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.3s ease;
    }
    
    #info_correo a:hover::after {
        transition: all 0.3s ease-out;
        transform: skewX(-45deg) scale(1, 1);
    }
    
    #formulario {
        margin-top: 20px;
    }
    
    #formulario_datos h2 {  
        font-family: 'Cinzel Decorative', cursive;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #nombre_input {
        display: flex;
        flex-direction: column;
    }
    
    #nombre_input label {   
        font-size: 20px;
        font-family: 'Berkshire Swash', cursive;
        margin-bottom: 5px;
    }
    
    #nombre_input input {
        border: 1px solid rgb(255, 255 , 255);
        border-radius: 8px;
        padding: 4px;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: 'Berkshire Swash', cursive;
        transition: all 0.2s linear;
    }
    
    #nombre_input input:focus {
        box-shadow: 5px 5px 20px rgb(0, 0 , 0);
    }
    
    #email_input {
        display: flex;
        flex-direction: column;
    }
    
    #email_input label {
        font-size: 20px;
        font-family: 'Berkshire Swash', cursive;
        margin-bottom: 5px;
    }
    
    #email_input input {
        border: 1px solid rgb(255, 255 , 255);
        border-radius: 8px;
        padding: 4px;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: 'Berkshire Swash', cursive;
        transition: all 0.2s linear;
    }
    
    #email_input input:focus {
        box-shadow: 5px 5px 20px rgb(0, 0 , 0);
    }
    
    #pais_input {
        display: flex;
        flex-direction: column;
    }
    
    #pais_input label {
        font-size: 20px;
        font-family: 'Berkshire Swash', cursive;
        margin-bottom: 5px;
    }
    
    #pais_input input {
        border: 1px solid rgb(255, 255 , 255);
        border-radius: 8px;
        padding: 4px;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: 'Berkshire Swash', cursive;
        transition: all 0.2s linear;
    }
    
    #pais_input input:focus {
        box-shadow: 5px 5px 20px rgb(0, 0 , 0);
    }
    
    #comentario_input {
        display: flex;
        flex-direction: column;
    }
    
    #comentario_input label {
        font-size: 20px;
        font-family: 'Berkshire Swash', cursive;
        margin-bottom: 5px;
    }
    
    #comentario_input textarea {
        border: 1px solid rgb(255, 255 , 255);
        border-radius: 8px;
        padding: 4px;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: 'Berkshire Swash', cursive;
        transition: all 0.2s linear;
    }
    
    #comentario_input textarea:focus {
        box-shadow: 5px 5px 20px rgb(0, 0 , 0);
    }
    
    #boton_input {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #boton_input button[type="submit"] {
        background: #fff; /* color de fondo */
        color: #1A668C; /* color de fuente */
        border: 2px solid #1A668C; /* tamaño y color de borde */
        padding: 10px;
        border-radius: 3px; /* redondear bordes */
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
        text-decoration: none;
        margin-top: 10px;
        justify-content: center;
        font-family: 'Berkshire Swash', cursive;
        width: 60%;
        margin-right: 20px;
        font-size: 18px;
        cursor: pointer;
    }
    
    #boton_input button[type="submit"]:hover {
        color: #fff;/* color de fuente hover */
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    #boton_input button[type="submit"]::after {
        content: "";
        background: #1A668C; /* color de fondo hover */
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.3s ease;
    }
    
    #boton_input button[type="submit"]:hover::after {
        transition: all 0.3s ease-out;
        transform: skewX(-45deg) scale(1, 1);
    }
    
    #boton_input button[type="reset"] {
        background: #fff; /* color de fondo */
        color: #1A668C; /* color de fuente */
        border: 2px solid #1A668C; /* tamaño y color de borde */
        padding: 10px;
        border-radius: 3px; /* redondear bordes */
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: flex;
        text-decoration: none;
        margin-top: 10px;
        justify-content: center;
        font-family: 'Berkshire Swash', cursive;
        width: 40%;
        font-size: 18px;
        cursor: pointer;
    }
    
    #boton_input button[type="reset"]:hover {
        color: #fff;/* color de fuente hover */
        text-shadow: rgb(255, 255, 255) 1px 0 10px;
    }
    
    #boton_input button[type="reset"]::after {
        content: "";
        background: #1A668C; /* color de fondo hover */
        position: absolute;
        z-index: -1;
        padding: 16px 20px;
        display: block;
        left: -20%;
        right: -20%;
        top: 0;
        bottom: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all 0.3s ease;
    }
    
    #boton_input button[type="reset"]:hover::after {
        transition: all 0.3s ease-out;
        transform: skewX(-45deg) scale(1, 1);
    }
}

/* Animaciones */
@keyframes abrirMenuAnimacion {
    from {
         height: 0%;
         opacity: 0;
    }
    to {
        height: 397%;
        opacity: 1;
    }
}