@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

* {
    margin: 0;
    padding: 0;
}

.bg-blur {
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.icon_menu {
    font-size: 45px;
}

.logo {
    margin: 0 32% 0 0;
}

.background_blur {
    background-color: rgba(0, 0, 0, 0.5);
}

.background_1_index {
    background-image: url(../img/background/background_1_index.jpg);
    background-position: 10% 5%;
    background-repeat: repeat;
}

.background_2_index {
    background-image: url(../img/background/background_2_index.jpeg);
    background-position: 87%;
    background-repeat: repeat;
}

.titulo_principal {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.parrafo_principal {
    font-family: 'Berkshire Swash', cursive;
    font-size: 19px;
    color: rgb(255, 255, 255);
}

.titulo_secundario {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.titulo_terciario {
    font-family: 'Cinzel Decorative', cursive;
}

.boton_pequeño {
    background: #fff; 
    color: #1A668C; 
    border: 2px solid #1A668C;
    padding: 10px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
    width: 60%;
    font-size: 18px;
}

.boton_pequeño:hover {
    color: #fff;
 } 

.boton_pequeño::after {
    content: "";
    background: #1A668C; 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.boton_pequeño:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

.row_height {
    height: 120px;
    padding-left: 5px;
    padding-right: 5px;
}

.derechos {
    font-size: 12px;
    font-family: 'Berkshire Swash', cursive;
}

.descripcion_derechos {
    font-size: 10px;
    font-family: 'Berkshire Swash', cursive;
}

#youtube_icon {
    width: 40px;
    /* height: 37px; */
}

#twitter_icon {
    width: 40px;
    /* height: 40px; */
}

#facebook_icon {
    width: 35px;
    /* height: 40px; */
}

#instagram_icon {
    width: 35px;
    /* height: 41px; */
}

#reddit_icon {
    width: 35px;
    /* height: 41px; */
}

@media screen and (min-width: 1024px) {
    
}