@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

* {
    margin: 0;
    padding: 0;
}

.bg-blur {
    background-color: rgba(255, 255, 255, 0.7);
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.icon_menu {
    font-size: 45px;
    position: absolute;
    top: 20px;
}

.logo {
    order: 2;
    margin: 0 auto 0 auto;
}

.btn-close {
    background: transparent url(../img/icon_btn_close.svg) center/1em auto no-repeat;
}

.nav-link {
    font-size: 25px;
    font-family: 'Cinzel Decorative', cursive;
    transition: none;
    color: rgb(255, 255, 255);
    margin: 0 0 30px 0;
}

.nav-link:hover {
    text-shadow: #CCC 0 0 10px;
    color: rgb(255, 215, 0);
}

.footer-canvas {
    margin: 70px 0 0 0;
}

.background_blur {
    background-color: rgba(0, 0, 0, 0.7);
    /* position: static; */
}

.background_1_index {
    background-image: url(../img/background/background_1_index.jpg);
    background-position: 10% 5%;
    background-repeat: repeat;
    background-attachment: fixed;
}

.background_2_index {
    background-image: url(../img/background/background_2_index.jpeg);
    background-position: 87%;
    background-repeat: repeat;
    background-attachment: fixed;
}

.background_1_sobreNosotros {
    background-image: url(../img/background/background_1_sobreNosotros.jpg);
    background-position: 60% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_2_sobreNosotros {
    background-image: url(../img/background/background_2_sobreNosotros.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_1_personajes {
    background-image: url(../img/background/background_1_personajes.jpg);
    background-position: 60% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_2_personajes {
    background-image: url(../img/background/background_2_personajes.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_1_noticias {
    background-image: url(../img/background/background_1_noticias.jpg);
    background-position: 60% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_2_noticias {
    background-image: url(../img/background/background_2_noticias.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_1_soporte {
    background-image: url(../img/background/background_1_soporte.png);
    background-position: 60% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_2_soporte {
    background-image: url(../img/background/background_2_soporte.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body#index ul.navbar-nav li:nth-child(1) a,
body#sobreNosotros ul.navbar-nav li:nth-child(2) a,
body#personajes ul.navbar-nav li:nth-child(3) a,
body#noticias ul.navbar-nav li:nth-child(4) a,
body#soporte ul.navbar-nav li:nth-child(5) a {
    text-shadow: #CCC 0 0 10px;
    color: rgb(255, 215, 0);
}

.titulo_principal {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 32px;
}

.parrafo_principal {
    font-family: 'Berkshire Swash', cursive;
    font-size: 19px;
}

.parrafo_secundario {
    font-family: 'Berkshire Swash', cursive;
    font-size: 15px;
}

.titulo_secundario {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25px;
}

.titulo_terciario {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}

.row_height {
    height: 120px;
    padding-left: 10px;
    padding-right: 10px;
}

.img-patrocinador {
    width: 100%;
}

.derechos {
    font-size: 12px;
    font-family: 'Berkshire Swash', cursive;
}

.descripcion_derechos {
    font-size: 10px;
    font-family: 'Berkshire Swash', cursive;
}


#youtube_icon {
    width: 40px;
    /* height: 37px; */
}

#twitter_icon {
    width: 40px;
    /* height: 40px; */
}

#facebook_icon {
    width: 35px;
    /* height: 40px; */
}

#instagram_icon {
    width: 35px;
    /* height: 41px; */
}

#reddit_icon {
    width: 35px;
    /* height: 41px; */
}

.img-caratula {
    width: 70%;
}

.img_equipo {
    width: 75%;
}

.width_equipo {
    width: 50%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_redes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 0;
}

.footer_derechos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_valores {
    width: 70%;
    border-radius: 100%;
}

.img_noticias {
    padding: 0 10px 0 10px;
}

.personaje_blur_back {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px 10px 15px;
    border-radius: 20px 0 20px 0;
    transition: all 0.2s linear;
}

.personaje_blur_back:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.personaje_1 {
    background-image: url(../img/personajes/Evelynn.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px 0 20px 0;
    margin: 0 0 20px 0;
}

.personaje_2 {
    background-image: url(../img/personajes/Blitzcrank.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
}

.personaje_3 {
    background-image: url(../img/personajes/Heimerdinger.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
}

.personaje_4 {
    background-image: url(../img/personajes/Twitch.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
}

.personaje_5 {
    background-image: url(../img/personajes/Neeko.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px 0 20px 0;
    margin-bottom: 20px;
}

.personaje_6 {
    background-image: url(../img/personajes/TahmKench.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 20px 0 20px 0;
}

.span_personajes {
    font-size: 14px;
    font-family: 'Cinzel Decorative', cursive;
}

.personajes_content {
    margin: 0 1px 0 1px;
}

.btn_general {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.2s;
    position: relative;
    font-size: 14px;
    background: #333;
    border: none;
    color: #fff;
    font-family: 'Cinzel Decorative', cursive;
}

.btn_general:hover {
    background: #F3BE22;
    color: #F3BE22;
    box-shadow: 0 0 45px #F3BE22;
}

.btn_general::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222222;
}

.btn_general span {
    position: relative;
    z-index: 1;
}

.btn_general i {
    position: absolute;
    inset: 0;
    display: block;
}

.btn_general i::before {
    content: '';
    position: absolute;
    border: 2px solid #F3BE22;
    width: 7px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btn_general:hover i::before {
    width: 20px;
    left: 20%;
}

.btn_general i::after {
    content: '';
    position: absolute;
    border: 2px solid #F3BE22;
    width: 7px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btn_general:hover i::after {
    width: 20px;
    left: 80%;
}

.img_noticias {
    width: 40%;
    border-radius: 100%;
}

.tiempo_noticia {
    font-family: 'Berkshire Swash', cursive;
    font-size: 15px;
    vertical-align: middle;
}

.fondo_noticias {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 5px 0 5px 0;
}

.icon_soporte {
    font-size: 50px;
}

.span_contacto {
    font-size: 12px;
    font-family: 'Berkshire Swash', cursive;
}

.input {
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #212121;
    padding: 5px;
    transition: .2s linear;
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
  }
  
  .input:focus {
    border: 2px solid #fa4753;
    border-radius: 10px;
    caret-color: #fa4753;
    color: #ffffff;
    box-shadow: 4px 4px 10px #070707;
  }
  
  .input:focus::placeholder {
    color: #fa4753;
  }

@media screen and (min-width: 1024px) {
    .logo {
        order: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 100px;
    }

    .footer-canvas {
        display: none;
    }

    .img-index {
        width: 80%;
        margin-top: 30px;
    }

    .nav-link {
        font-size: 18px;
        margin: 0 0 0 0;
        transition: all 0.2s ease-in;
    }

    .offcanvas {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 400px;
    }

    .img-caratula {
        width: 60%;
    }

    .titulo_principal {
        font-size: 40px;
    }

    .titulo_secundario {
        font-size: 30px;
    }

    .parrafo_principal {
        padding-left: 100px;
        padding-right: 100px;
        font-size: 20px;
    }

    .row_height {
        height: 250px;
        padding-left: 100px;
    }

    .img-patrocinador {
        width: 70%;
    }

    .img_equipo {
        width: 70%;
    }

    .width_equipo {
        width: 30%;
    }

    .descripcion_derechos {
        font-size: 14px;
        margin: 1px 0 0 0;
    }

    .derechos {
        font-size: 18px;
    }

    .footer_redes {
        justify-content: end;
    }

    #youtube_icon {
        width: 50px;
        /* height: 37px; */
    }

    #twitter_icon {
        width: 50px;
        /* height: 40px; */
    }

    #facebook_icon {
        width: 40px;
        /* height: 40px; */
    }

    #instagram_icon {
        width: 43px;
        /* height: 41px; */
    }

    #reddit_icon {
        width: 43px;
        /* height: 41px; */
    }

    .footer_derechos {
        justify-content: start;
        margin: 15px 0 0 0;
    }

}