@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

/* Backgrounds Inicio */

.background_blur {
    background-color: rgba(0, 0, 0, 0.5);
    /* backdrop-filter: blur(1.5px); */
    /* -webkit-backdrop-filter: blur(1.5px); */
}

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.5);

}

.bg-blur {
    background-color: rgba(255, 255, 255, 0.5);
}

.background_1_index {
    background-image: url(../img/background/background_1_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
}

.background_2_index {
    background-image: url(../img/background/background_2_index.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 85%;
    background-attachment: fixed;
}

.background_1_sobreNosotros {
    background-image: url(../img/background/background_1_sobreNosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_2_sobreNosotros {
    background-image: url(../img/background/background_2_sobreNosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_1_personajes {
    background-image: url(../img/background/background_1_personajes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_2_personajes {
    background-image: url(../img/background/background_2_personajes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_1_noticias {
    background-image: url(../img/background/background_1_noticias.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_2_noticias {
    background-image: url(../img/background/background_2_noticias.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_1_soporte {
    background-image: url(../img/background/background_1_soporte.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background_2_soporte {
    background-image: url(../img/background/background_2_soporte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Backgrounds Fin */

/* Navbar Inicio */

.logo {
    order: 1;
    margin: 0 auto 0 auto;
}

.icon_menu {
    font-size: 45px;
    position: absolute;
    top: 15px;
    left: 10px;
}

.btn-close {
    background: transparent url(../img/icon_btn_close.svg) center/1.7em auto no-repeat;
}

.nav-link {
    font-size: 3em;
    font-family: 'Cinzel Decorative', cursive;
    transition: none;
    color: rgb(255, 255, 255);
    margin: 0 0 30px 0;
}

.nav-link:hover {
    text-shadow: #CCC 0 0 10px;
    color: rgb(255, 215, 0);
}

.offcanvas {
    backdrop-filter: none;
    /* -webkit-backdrop-filter: blur(0px); */
}

body#index ul.navbar-nav li:nth-child(1) a,
body#sobreNosotros ul.navbar-nav li:nth-child(2) a,
body#personajes ul.navbar-nav li:nth-child(3) a,
body#noticias ul.navbar-nav li:nth-child(4) a,
body#soporte ul.navbar-nav li:nth-child(5) a {
    text-shadow: #CCC 0 0 10px;
    color: rgb(255, 215, 0);
}

#youtube_icon {
    width: 40px;
}

#twitter_icon {
    width: 35px;
}

#facebook_icon {
    width: 35px;
}

#instagram_icon {
    width: 35px;
}

#reddit_icon {
    width: 35px;
}

/* Navbar Fin */

/* Footer Inicio */

.descripcion_derechos {
    font-size: 1rem;
    font-family: 'Berkshire Swash', cursive;
}

.social_icons {
    padding: 1em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.derechos_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.derechos {
    font-size: 1.2rem;
    font-family: 'Berkshire Swash', cursive;
}

/* Footer Fin */


/* Titulos y Parrafos */

.titulo_principal {
    font-size: 3.5rem;
    font-family: 'Cinzel Decorative', cursive;
    margin: 10px 0 0 0;
}

.titulo_secundario {
    font-size: 2.2rem;
    font-family: 'Cinzel Decorative', cursive;
}

.titulo_terciario {
    font-size: 1.5rem;
    font-family: 'Cinzel Decorative', cursive;
    margin: 1em 0 0 0;
}

.parrafo_principal {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.8rem;
}

/* ------------ */

/* Botones */

.btn_general {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.2s;
    position: relative;
    font-size: 1.4rem;
    background: #333;
    border: none;
    color: #fff;
    font-family: 'Cinzel Decorative', cursive;
    margin: 1em;
}

.btn_general:hover {
    background: #F3BE22;
    color: #F3BE22;
    box-shadow: 0 0 45px #F3BE22;
}

.btn_general::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222222;
}

.btn_general span {
    position: relative;
    z-index: 1;
}

.btn_general i {
    position: absolute;
    inset: 0;
    display: block;
}

.btn_general i::before {
    content: '';
    position: absolute;
    border: 2px solid #F3BE22;
    width: 7px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btn_general:hover i::before {
    width: 20px;
    left: 20%;
}

.btn_general i::after {
    content: '';
    position: absolute;
    border: 2px solid #F3BE22;
    width: 7px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btn_general:hover i::after {
    width: 20px;
    left: 80%;
}

/* ------------ */

/* Pagina Index */

.img_index_1 {
    width: 30em;
    padding: 1.5em;
    border-radius: 10%;
}

.img-patrocinador {
    width: 15rem;
    padding: 2rem;
}

.img_equipo {
    width: 80%;
}

.width_equipo {
    width: 50%;
    margin: 1em 0 1em 0;
}

/* ------------ */

/* Pagina Sobre Nosotros */

.img_valores {
    width: 70%;
    border-radius: 100%;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* --------------------- */



/* Css Desktop */
@media screen and (min-width: 1024px) {

    html {
        font-size: 12px;
    }

    /* Navbar */
    .logo {
        order: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 100px;
    }

    .nav-link {
        font-size: 1.7em;
        margin: 0 0 0 0;
    }

    .footer-canvas {
        display: none;
    }

    .offcanvas {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 0 0 0 400px;
    }

    .social_icons {
        padding: 0 2em 0 0;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .derechos_content {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .derechos {
        font-size: 1.5rem;
    }

    /*  */

    /* Footer */

    .clasificacion {
        justify-content: start !important;
    }

    /*  */

    /* Titulos y Parrafos */
    .titulo_principal {
        font-size: 4rem;
        margin: 10px 0 20px 0;
    }

    .titulo_secundario {
        font-size: 3rem;
        font-family: 'Cinzel Decorative', cursive;
    }

    .parrafo_principal {
        padding: 0 50px 0 50px;
    }

    /*  */

    /* Index */
    .img-index {
        width: 90%;
        margin-bottom: 15px;
    }

    .img-patrocinador {
        width: 35rem;
    }

    .width_equipo {
        width: 25%;
    }

    .img_equipo {
        width: 80%;
        transition: all 0.2s ease-in-out;
    }

    .img_equipo:hover {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 2em;
        filter: brightness(1.2);
    }

    /*  */

    /* Sobre Nosotros */

    .content_historia {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .img_valores {
        width: 80%;
        transition: all 0.2s ease-in-out;
    }
    /*  */
}